<!DOCTYPE html>
<head>
    {% block head %} {% endblock %}
<title>MyBlog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" media="screen">
</head>
<body>
    <div class="container">

<div class="navbar">
<div class="navbar-inner">
    <div class="container">
<ul class="nav">
    <li><a href="{{url_for("home")}}">home</a></li>
    <li><a href="{{url_for("stations")}}">stations</a></li>
    <li><a href="{{url_for("signup")}}">signup</a></li>
    <li><a href="{{url_for("profile")}}">profile</a></li>
<ul>
</div>
</div>
</div>

<div class="row">
    <div class="span14">
{% block content %}
{% endblock %}
</div>
</div>

</div>

</body>
</html>
